#book {
  position: sticky;
  top: 0;
}

.vehicle-title {
  font-family: 'Smooch', cursive;
  font-size: 56px;
}

.vehicle-price {
  font-weight: 700;
  font-size: 32px;
}

.vehicle-show-owner {
  width: 100px;
  height: 100px;
}

.vehicle-book-form {
  border: none;
}

.total-price {
  font-size: 20px;
}
