<div class="container d-flex justify-content-center mt-4">
  <h1>You have <%= @bookings.count %> bookings from customers🗓</h1>
</div>
<div class="container d-flex justify-content-center">
  <p>Accept or Reject pending bookings for your vehicles</p>
</div>
<%= render 'owner_booking' %>
</div>
