<h2 style="color:green">Accepted</h2>
<div class="caontainer">
  <div class="payment-card"></div>
</div>
<div class="item-flip" on:click={toggleFlip} class:flipped={isFlipped}>
  <div class="item-flip-inner">
    <div class="item-flip-front">
      <div class="item-flip-content">
        <h2 style="color:green">Accepted</h2>
        <p>Hover it (or click it on mobile) to display...</p>
      </div>
    </div>
    <div class="item-flip-back">
      <div class="item-flip-content">
        <p>The back of the card!</p>
      </div>
    </div>
  </div>
</div>
