<div class="banner">
  <div class="container">
    <h1>Ninja Garage</h1>
    <p>Rent crazy vehicles</p>
    <a class="btn btn-flat" href="vehicles#index"> Browse vehicles </a>
  </div>
  <div class="arrow">
    <a href="#browse"><i class="fas fa-chevron-down"></i></a>
  </div>
</div>
<div id="browse" class="container pt-5">
  <div class="container p-3 m-5">
    <h1 class='slogan text-center'>Be a yankee for a day</h1>
  </div>
  <h3 class='mt-6 p-3'>Browse by Category</h3>
  <div class="categories">
    <%= link_to vehicles_path(category: "Decotora") do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://mulattodiaries.files.wordpress.com/2010/02/decotora.jpg)">
        <h2>Decotoras</h2>
      </div>
    <% end %>
    <%= link_to vehicles_path(category: "Bosozoku_bike") do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://4.bp.blogspot.com/-VcQ0QHojFFk/UZZPCBbE1LI/AAAAAAAANrA/UGp06WUYaAk/s1600/bosozoku+bike.JPG)">
        <h2>Bosozoku Bikes</h2>
      </div>
    <% end %>
    <%= link_to vehicles_path(category: "Itasha") do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.ebayimg.com/images/g/qmkAAOSwInxXNREG/s-l500.jpg)">
        <h2>Itashas</h2>
      </div>
    <% end %>
  </div>
  <h1>Suggestions:</h1>
  <%= render "vehicles/car_cards" %>
