.card-booking {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-size: cover;
  border-radius: 8px;
  background-position: center;
  border-radius: 1px;
  // display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-booking-picture {
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-booking > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-booking h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-booking p {
  font-size: 24px;
  margin: 0;
}

.booking-more-btn {
  border-radius: 36px;
  color: white;
  padding: 12px 24px;
  background-color: $red;
}


.card-booking .card-booking-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-booking-infos .card-booking-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.cards {
  flex-grow: 1;
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}




/* without user icon
<div class="card-booking">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-booking-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-booking-pricing">£99.99</h2>
  </div>
</div>
*/

/* with user icon
<div class="card-booking">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-booking-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-booking-pricing">£99.99</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-booking-user avatar-bordered" />
  </div>
</div>
*/


// font-variant-ligatures: common-ligatures;
// font-feature-settings: "liga", "clig";
// -webkit-font-smoothing: antialiased;
// color: rgb(35, 31, 32);
// font-family: BasisGrotesque, Avenir, "Helvetica Neue", Helvetica, sans-serif;
// font-weight: normal;
// font-size: 16px;
// line-height: 1.5;
// text-size-adjust: auto;
// box-sizing: border-box;
// padding: 0px;
// background: #fff;
// border-bottom: 1px solid #e6e6e6;
// margin: 0;
// width: 100%;
// border-top: 1px solid #e6e6e6;
