.categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-bottom: 100px;
}
.slogan {
  font-size: 64px;
  font-family: 'Smooch', cursive;
}

.category-name {
  margin: 0 auto;
}
